<!--<div class="mask_top"></div>-->
<div id="yonny_poem_wrapper" class="yonny_poem_wrapper">

  <input id="poemGroups" type="hidden" value="{{poems}}">
  <input id="poemCollection" type="hidden" value="{{poemCollection}}">
  <input id="poemGroup" type="hidden" value="{{poemGroup}}">
  <input id="poemDetail" type="hidden" value="{{poemDetail}}">

  <div id="poemCollections" class="poemList">
    <ul>
      {{#each poemCollections}}
        <li>
          <a data-id="{{this}}">
            {{this}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  <div id="poemList" class="poemList" style="display: none">

  </div>

  <div class="imageWrapper">
    <div class="yonnyImage">
      <img src="/static/images/yonnyPoemImage.jpg">
    </div>
  </div>

</div>

<div id="yonny_poem_wrapper_detail" class="yonny_poem_wrapper_detail" style="display: none;">

  <div class="poemDetail">
    <div id="poemDetailTitle" class="title">
      IT SEEMS THAT HAPPINESS...
    </div>
    <div id="poemDetailContent" class="content">

    </div>
    <div class="footer">
      <br>
      <div>
        <span id="poemDetailYear"></span>
      </div>
      <br>
      <div id="backContainer">
        <a href="#" id="backLink"><<</a>
      </div>
    </div>

  </div>

</div>


<!--<div class="mask_bottom"></div>-->
