<input type="hidden" id="galery_id" value="{{galery._id}}">
<div class="ui stackable page grid"> 
	<div class="two column row container">
		<div class="column">
			<a href="/teatro-cubano">
				<i class="double angle left icon"></i>volver | back 
			</a>
		</div>
		<div class="right aligned column">
			<div class="galery-details">
				<span>{{galery.title}}</span>
				<div class="info-popup" style="display:none;">
					<div class="line image-info">
						<span class="image-title"></span>
						<span class="image-description"></span>
					</div>
					<div class="line">
						<span>{{galery.location}}</span>
					</div>
					<div class="line">
						<span>{{formatDateString galery.dateOfPlay}}</span>
					</div>
					{{#if galery.director}}
						<div class="line">
							<span>dirección: {{galery.director}}</span>
						</div>
					{{/if}}
					{{#if galery.author}}
						<div class="line">
							<span>autor: {{galery.author}}</span>
						</div>
					{{/if}}
				</div>
				<a href="javascript:;" class="more-info"><i class="ui inverted small info icon"></i></a>
			</div>
		</div>
	</div>
</div>

<!-- Carousel -->
<div class="galleria">
	{{#each galleria}}
		<img src="/static/images/galery/{{this.id}}" />
	{{/each}}

</div>
