<div id="homePage" class="homePage_wrapper">
	<div class="movingImage imageMove">
    <div class="default active">
      {{#each titlePics.teatroCubano }}
      <img src="{{this}}" />
      {{/each}}
    </div>

    <div class="teatro-cubano">
      {{#each titlePics.teatroCubano }}
      <img src="{{this}}" />
      {{/each}}
    </div>

    <div class="danza">
      {{#each titlePics.danza }}
      <img src="{{this}}" />
      {{/each}}
    </div>

    <div class="musica">
      {{#each titlePics.musica }}
      <img src="{{this}}" />
      {{/each}}
    </div>

    <div class="teatro">
      {{#each titlePics.teatro }}
      <img src="{{this}}" />
      {{/each}}
    </div>

    <div class="yonny">
        <img src="/static/images/yonny1.jpg" />
        <img src="/static/images/yonny3.jpg" />
        <img src="/static/images/yonny2.jpg" />
    </div>

  </div>


  <div class="menuBar">
    <a href="/"><div class="title">elneto • Fotos</div></a>
    <div class="menu">
      <a class="item {{#if active.teatro_cubano}}active{{/if}}" href="/teatro-cubano">Teatro Cubano</a>
      <a class="item {{#if active.danza}}active{{/if}}" href="/danza">Danza</a>
      <a class="item {{#if active.musik}}active{{/if}}" href="/musica">Música</a>
      <a id="teatro" class="item {{#if active.theater}}active{{/if}}" href="/teatro">Teatro</a>
      <a id="yonny" class="item {{#if active.yonny}}active{{/if}}" href="/yonny">Yonny</a>

    </div>

  </div>

  <div id="searchContainer" class="search teatro-cubano">
    <div class="searchBar teatre-search">
      <input id="searchField" name="q" class="prompt" type="text" placeholder="Galerien durchsuchen..." autocomplete="off">
      <i id="searchButton" class="inverted circular search link icon"></i>
    </div>
  </div>

</div>


