<div class="column">
  <h2 class="ui left floated inverted header">Manage Backups</h2>
  <a id="createBackup" class="ui inverted basic button">
    <i class="ambulance icon"></i>
    backup soon
  </a>
  <div class="ui inverted progress" id="progress" style="display: none">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Making backup file ...</div>
  </div>

  <table class="ui inverted table">
    <thead>
    <tr>
      <th>Título</th>
      <th>Erstellungsdatum</th>
      <th style="min-width:125px;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <div class="ui list clearfix">
      {{#each backups}}
        <tr id="backup_{{this._id}}" class="backup-listing">
          <td>{{this.title}}</td>
          <td>{{this.creationDate}}</td>
          <td>
            <a href="/admin/backup/{{this._id}}/download" class="ui inverted yellow icon button">
              <i class="download icon"></i>
            </a>
            <!--<a href="/admin/backup/{{this._id}}/modify" class="ui inverted yellow icon button">-->
              <!--<i class="edit icon"></i>-->
            <!--</a>-->
            <a data-id="{{this._id}}" class="ui inverted red icon button deleteBackup">
              <i class="delete icon"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </div>
    </tbody>
  </table>

  <!-- Delete Modal -->
  <div class="ui basic modal confirm delete" id="deleteModalTemplate">
    <i class="close icon"></i>
    <div class="header">
      Bestätigung Löschvorgang
    </div>
    <div class="image content">
      <div class="image">
        <i class="archive icon"></i>
      </div>
      <div class="description">
        <p>Are you sure to delete ###placeholder###?</p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui deny red basic inverted button">
          <i class="remove icon"></i>
          Cancel
        </div>
        <div class="ui approve green basic inverted button">
          <i class="checkmark icon"></i>
          Yes, I want to delete ###placeholder###!
        </div>
      </div>
    </div>
  </div>

</div>
