<div class="column">
  <h2 class="ui left floated inverted header">Manage Poems</h2>
  <a class="ui inverted basic button" href="/admin/poems/collection/new">
    <i class="plus icon"></i>
    New collection
  </a>
  <a class="ui inverted basic button" href="/admin/poems/new">
    <i class="plus icon"></i>
    New poem
  </a>

  <table class="ui inverted table">
    <thead>
    <tr>
      <th>Colección</th>
      <th>Erstellungsdatum</th>
      <th>Visible</th>
      <th style="min-width:125px;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <div class="ui list clearfix">
      {{#each poemCollections}}
        <tr id="poem_collection_{{this._id}}" class="poem-collections-listing">
          <td>{{this.title}}</td>
          <td>{{this.creationDate}}</td>
          <td>
            <div id="poem_collection_{{this._id}}_visible" class="ui toggle checkbox poemCollectionVisible">
              <input type="checkbox" data-id="{{this._id}}" tabindex="0" name="visible" class="hidden visible" {{#if this.visible}}checked{{/if}}>
            </div>
          </td>
          <td>
            <a href="/admin/poems/collection/modify/{{this._id}}" class="ui inverted yellow icon button">
              <i class="edit icon"></i>
            </a>
            <a data-id="{{this._id}}" class="ui inverted red icon button deletePoemCollection">
              <i class="delete icon"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </div>
    </tbody>
  </table>

  <table class="ui inverted table">
    <thead>
    <tr>
      <th>Título</th>
      <th>Colección</th>
      <th>Erstellungsdatum</th>
      <th>Visible</th>
      <th style="min-width:125px;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <div class="ui list clearfix">
      {{#each poems}}
        <tr id="poem_{{this._id}}" class="poems-listing">
          <td>{{this.title}}</td>
          <td class="poemCollection">{{this.poemCollection}}</td>
          <td>{{this.creationDate}}</td>
          <td>
            <div id="poem_{{this._id}}_visible" class="ui toggle checkbox poemVisible">
              <input type="checkbox" data-id="{{this._id}}" tabindex="0" name="visible" class="hidden visible" {{#if this.visible}}checked{{/if}}>
            </div>
          </td>
          <td>
            <a href="/admin/poems/modify/{{this._id}}" class="ui inverted yellow icon button">
              <i class="edit icon"></i>
            </a>
            <a data-id="{{this._id}}" class="ui inverted red icon button deletePoem">
              <i class="delete icon"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </div>
    </tbody>
  </table>

  <!-- Delete Modal -->
  <div class="ui basic modal confirm delete" id="deleteModalTemplate">
    <i class="close icon"></i>
    <div class="header">
      Bestätigung Löschvorgang
    </div>
    <div class="image content">
      <div class="image">
        <i class="archive icon"></i>
      </div>
      <div class="description">
        <p>###placeholder###</p>
        <p>###subPlaceholder###</p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui deny red basic inverted button">
          <i class="remove icon"></i>
          Cancel
        </div>
        <div class="ui approve green basic inverted button">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  </div>

</div>
