{{#if this}}

<div class="column galery-thumb-element" id="galery-thumb-{{this.src}}">
	<div class="ui grid">
		<div class="six wide center aligned column image-thumb" id="image-thumb-{{this.src}}">
				<img class="ui small image" src="/uploads/thumbs/{{this.src}}" />
			
			<div class="info">
				<div class="actions">
					
          <a href="javascript:;" class="deletePicture" data-id="{{this.src}}">
            <i class="ui trash icon"></i>
          </a>

					{{#unless this.isTitlePicture}}
						<div class="ui blue mini button setTitlePicture" data-id="{{this.src}}">
							<i class="icon square outline"></i>
							Set title picture
						</div>
					{{/unless}}
				</div>
				<div class="states">
					{{#if this.isTitlePicture}}
						<p class="isTitlePicture"><i class="icon checkmark box"></i>Current title picture</p>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="ten wide column image-info">
			<div class="field">
				<label for="title-{{this.src}}">Title</label>
				<div class="ui inverted transparent input">
					<input name="title-{{this.src}}" id="title-{{this.src}}" placeholder="Title" type="text" value="{{this.title}}">
				</div>
			</div>
			<div class="field">
				<label for="description-{{this.src}}">Description</label>
				<div class="ui inverted transparent input">
					<input name="description-{{this.src}}" id="description-{{this.src}}" placeholder="Description" type="text" value="{{this.description}}">
				</div>
			</div>
		</div>
	</div>
</div>

{{else}}
<p>Error: No picture available.</p>
{{/if}}

