{{#if this}}

<div class="column galery-thumb-element" id="galery-thumb-{{this.id}}" data-id="{{this.id}}">
  <div class="ui grid">
    <div class="six wide center aligned column image-thumb" id="image-thumb-{{this.id}}">
      <img class="ui small image" src="{{this.link}}" />

      <div class="info">
        <div class="actions">

          <a href="javascript:;" class="deletePicture" data-id="{{this.id}}">
            <i class="ui trash icon"></i>
          </a>

          {{#unless this.isTitlePicture}}
          <div class="ui blue mini button setTitlePicture" data-id="{{this.id}}">
            <i class="icon square outline"></i>
            Set title picture
          </div>
          {{/unless}}
        </div>
        <div class="states">
          {{#if this.isTitlePicture}}
          <p class="isTitlePicture"><i class="icon checkmark box"></i>Current title picture</p>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="ten wide column image-info">
      <div class="field">
        <label for="title">Title</label>
        <div class="ui inverted input">
          <input name="title" id="title-{{this.id}}" placeholder="Title" type="text" value="{{this.title}}">
        </div>
      </div>
      <div class="field">
        <label for="comments">Comments</label>
        <div class="ui inverted input">
          <input name="comments" id="comments-{{this.id}}" placeholder="Comments" type="text" value="{{this.comments}}">
        </div>
      </div>
    </div>
  </div>
</div>

{{else}}
<p>No picture available.</p>
{{/if}}

