<div class="two fields">
	<div class="field">
		<label>Title</label>
		<div class="ui underlined input">
			<input placeholder="Titel" type="text" name="title" value="{{galery.title}}" required>
		</div>
	</div>
	<div class="field">
		<label>Date of play:</label>

		<div class="ui underlined input">
		<input type="text"id="date_of_play_string" name="date_of_play_string" readonly="readonly" value="{{formatFullDateString galery.dateOfPlay}}" required>
		</div>
	</div>
	<div class="hidden field">
		<input type="hidden" id="date_of_play" name="date_of_play" value="{{galery.dateOfPlay}}">
	</div>
</div>

<div class="two fields">

	<div class="field">
		<label>Location</label>
		<div class="ui underlined input">
			<input type="text" name="location" value="{{galery.location}}">
		</div>
	</div>
	<div class="field">
		<label>Author</label>
		<div class="ui underlined input">
			<input type="text" name="author" value="{{galery.author}}">
		</div>
	</div>
</div>
<div class="two fields">
	<div class="field">
		<label>Director</label>
		<div class="ui underlined input">
			<input type="text" name="director" value="{{galery.director}}">
		</div>
	</div>
	<div class="field">
		<label>Tags</label>
		<div class="ui input">
			<select name="tags" multiple="" class="ui dropdown">
				<option value="">Tags</option>
				<option value="teatro-cubano">Teatro Cubano</option>
				<option value="theater">Teatro</option>
				<option value="musik">Musica</option>
				<option value="danza">Danza</option>
			</select>
		</div>
	</div>
</div>
